**/__pycache__
**/.env
**/.git
**/.gitignore
**/.pytest_cache
**/.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/ENV
**/env.bak
**/venv.bak
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.coverage
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/.tox
**/.eggs
**/*.egg-info
**/dist
**/build
**/Dockerfile*
**/docker-compose*
**/README.md
**/.idea

